<header id="header">
  <div class="nav-1">
    <button id="burgerBtn"><i class="fas fa-bars"></i></button>
      <a href="/"><span id="logo"><span id="logo-sub">WebDev</span>BBS</span></a>
    <button id="searchBtn"><i class="fas fa-search"></i></button>
  </div>
  <div class="nav-2">
    {{#if logged_in}}
    <a href="/dashboard"><i class="fas fa-user"></i>Dashboard</a>
    <button  id="logOutBtn"><i class="fas fa-sign-out-alt"></i>LogOut</button>
    {{else}}
    <button id="signUpBtn" data-toggle="modal" data-target="#homeModal"><i class="fas fa-user-plus"></i>SignUp</button>
    <button id="loginBtn" data-toggle="modal" data-target="#homeModal"><i class="fas fa-sign-in-alt"></i>Login</button>
    {{/if}}
  </div>
</header>

<section class="container-cards">
  <div id="cardList-header">
    <span>Viewing:</span>
    {{#if logged_in}}
    <button id="thumbBtn"><i class="far fa-thumbs-up"></i></button>
    {{/if}}
  </div>

  
  <div class="card">
    <h3>{{blog.title}}</h3>
    <h5>By: <span>{{user.name}}</span></h5>
    <h5>On: <span>{{format_date blog.pub_date}}</span></h5>
    <h5>{{blog.body}}</h5>
  </div>

  
 
</section>

<section class="container-cards">
  <div id="cardList-header">
    <span>Comments:</span>
    <button id="commentToggle"><i class="fas fa-eye"></i></button>
  </div>


  {{#each comments as |comment| }}
  <div class="card">
    <div class="row">
      <img class="commentIcon" src="/assets/img/{{comment.user.icon}}.JPG" alt="userIcon">
      <div>
        <h3>{{comment.user.name}}</h3>
        <h5>On: <span>{{format_date comment.com_date}}</span></h5>
      </div>
    </div>
    <h5>{{comment.content}}</h5>
  </div>
  {{/each}}

</section>


{{> accountModal}}



{{!-- <script src="/assets/scripts/home.js"></script> --}}
<script src="/assets/scripts/login.js"></script>
