<header id="header">
  <div class="nav-1">
    <button id="burgerBtn"><i class="fas fa-bars"></i></button>
    <a href="/"><span id="logo"><span id="logo-sub">WebDev</span>BBS</span></a>
    <button id="userEditBtn"><i class="fas fa-user-edit"></i></button>
  </div>
    <div class="nav-2">
      <a href="/" id="signUp"><i class="fas fa-edit"></i>New</a>
      <button  id="logOutBtn"><i class="fas fa-sign-out-alt"></i>LogOut</button>
    </div>
</header>

<section class="container-user">
  <img class="userIcon" src="/assets/img/{{user.icon}}.JPG" alt="userIcon">
  <div>
    <p>Account: <span>{{account.email}}</span></p>
    <p>Name: <span>{{user.name}}</span></p>
  </div>
</section>

<section class="container-cards">

  <div id="cardList-header">
    <span>My blogs:</span>
    <!-- <button id="filterBtn"><i class="fas fa-filter"></i></button> -->
  </div>

  {{#each blogs as |blog| }}
  <a class="card">
    <h3>{{blog.title}}</h3>
    <h5>On: <span>{{format_date blog.pub_date}}</span></h5>
    <h5>
      <span><i class="fas fa-thumbs-up"></i><span>10</span></span>
      <span><i class="fas fa-comment-dots"></i><span>10</span></span>
    </h5>
  </a>
  {{/each}}        
</section>




