<header id="header">
  <div class="nav-1">
    <button id="burgerBtn"><i class="fas fa-bars"></i></button>
    <a href="/"><span id="logo"><span id="logo-sub">WebDev</span>BBS</span></a>
    <button id="userEditBtn" data-toggle="modal" data-target="#userModal"><i class="fas fa-user-edit"></i></button>
  </div>
    <div class="nav-2">
      <button id="newBlogBtn"><i class="fas fa-edit"></i>New</button>
      <button  id="logOutBtn"><i class="fas fa-sign-out-alt"></i>LogOut</button>
    </div>
</header>

<section class="container-user">
  <img id ="iconDisplay" class="userIcon" src="/assets/img/{{user.icon}}.JPG" alt="userIcon" data-imgID="{{user.icon}}">
  <div>
    <p>Account: <span>{{account.email}}</span></p>
    <p>Name: <span id ="nameDisplay" data="{{user.id}}">{{user.name}}</span></p>
  </div>
</section>

<section id="newBlogSec" class="container-cards">
  <form id="newBlogForm">
    <div id="cardList-header">
      <i id="newBlogHide" class="fas fa-minus-circle"></i>
      <span>New Blog:</span>
      <button type="submit" id="newBlogSave"><i class="fas fa-save"></i></button>
    </div>
    <input id="titleInput" type="text" class="form-control" placeholder="Blog Title" required>
    <textarea id="bodyInput" class="form-control" name="bodyInput" cols="30" rows="10" placeholder="Blog Content" required></textarea>
  </form>   
</section>

<section id="editBlogSec" class="container-cards">

  <form id="editBlogForm">
    <div id="cardList-header">
      <i id="editBlogHide" class="fas fa-minus-circle"></i>
      <span>View & Edit</span>
      <button type="submit" id="editBlogSave"><i class="fas fa-save"></i></button>
    </div>
    <input id="titleEdit" type="text" class="form-control" required>
    <textarea id="bodyEdit" class="form-control" name="bodyEdit" cols="30" rows="10" required></textarea>
  </form>

  <div id="cardList-header">
    <span>Comments:</span>
    <button id="commentToggle"><i class="fas fa-eye"></i></button>
  </div>

</section>

<section class="container-cards">
  <div id="cardList-header">
    <span>My blogs:</span>
  </div>
  {{#each blogs as |blog| }}
  <div class="card" >
    <h3 class="w-100" >
      <span class="titleTarget" data-blogId = "{{blog.id}}" data-blogTitle = "{{blog.title}}" data-blogBody = "{{blog.body}}">
        {{blog.title}}
      </span>
      <i class="fas fa-trash-alt deleteBlogBtn" data-blogId = "{{blog.id}}"></i>
    </h3>
    <h5>On: <span>{{format_date blog.pub_date}}</span></h5>
    <h5 class="w-50 footer">
      <span><i class="fas fa-thumbs-up"></i>{{blog.thumb_up}}</span>
      <span><i class="fas fa-comment-dots"></i>10</span>
    </h5>
  </div>
  {{/each}}        
</section>

{{> userModal}}

<script src="/assets/scripts/dashboard.js"></script>
